<section>
    <div class="container">
        <div class="row mt-3">
            <a href="admin/add-products" class="btn btn-success ml-auto">Add Products</a>
        </div>
        <div class="container mt-4">
            <table class="table" id="products-table">
                <thead>
                    <tr>
                        <th>No</th>
                        <th scope="col">Name</th>
                        <th scope="col">Category</th>
                        <th scope="col">Description</th>
                        <th scope="col">Price</th>
                        <th scope="col">Image</th>
                        <th scope="col">Options</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each products}}
                    <tr>
                        <td></td>
                        <td>{{this.Name}}</td>
                        <td>{{this.Category}}</td>
                        <td>{{this.Description}}</td>
                        <td>{{this.Price}}</td>
                        <td><img style="height: 80px; width: 80px;" src="/product-image/{{this._id}}.jpg" alt="">
                        </td>
                        <td><a href="/admin/product-edit/{{this._id}}" class="btn btn-primary">Edit</a>
                            <a href="/admin/product-delete/{{this._id}}" class="btn btn-danger"
                                onclick="return confirm('Are you want to delete {{this.Name}} ?')">Delete</a>
                        </td>
                    </tr>

                    {{/each}}

                </tbody>
            </table>
        </div>
</section>
<script>
    $(document).ready(function () {
        $('#products-table').DataTable();
    });
    $('#products-table').DataTable({
        paging: false
    });
</script>