<section>
    <div class="container">
        <div class="row mt-4">
            <a href="admin/add-products" class="btn btn-success ml-auto">Add Products</a>
        </div>
        <table class="table mt-4">
            <thead>
                <tr>
                    <th scope="col">No</th>
                    <th scope="col">Name</th>
                    <th scope="col">Category</th>
                    <th scope="col">Description</th>
                    <th scope="col">Price</th>
                    <th scope="col">Image</th>
                </tr>
            </thead>
            <tbody>
                {{#each products}}
                <tr>
                    <th scope="row">1</th>
                    <td>{{this.Name}}</td>
                    <td>{{this.Category}}</td>
                    <td>{{this.Description}}</td>
                    <td>{{this.Price}}</td>
                    <td><img style="height: 80px; width: 80px;" src="/product-image/{{this._id}}.jpg" alt="">
                    </td>
                    <td><a href="/admin/product-edit/{{this._id}}" class="btn btn-primary">Edit</a></td>
                    <td><a href="/admin/product-delete/{{this._id}}" class="btn btn-danger"
                            onclick="return confirm('Are you want to delete {{this.Name}} ?')">Delete</a></td>
                </tr>

                {{/each}}

            </tbody>
        </table>
    </div>
</section>